@*@model BankingSystem.Models.Bill

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <select asp-for="AccountID" class ="form-control" asp-items="ViewBag.AccountID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Creditor" class="control-label"></label>
                <input asp-for="Creditor" class="form-control" />
                <span asp-validation-for="Creditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountDue" class="control-label"></label>
                <input asp-for="AmountDue" class="form-control" />
                <span asp-validation-for="AmountDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerID" class="control-label"></label>
                <input asp-for="PayerID" class="form-control" />
                <span asp-validation-for="PayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePaid" class="control-label"></label>
                <input asp-for="DatePaid" class="form-control" />
                <span asp-validation-for="DatePaid" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationNumber" class="control-label"></label>
                <input asp-for="ConfirmationNumber" class="form-control" />
                <span asp-validation-for="ConfirmationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@




@model BankingSystem.Models.Bill

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
           @* <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <select asp-for="AccountID" class ="form-control" asp-items="ViewBag.AccountID"></select>
            </div>*@
             <div class="form-group">
                <label asp-for="AccountID" class="control-label">AccountId: @ViewData["AccountID"] </label>
                <input asp-for="AccountID" type="hidden"value="@ViewBag.AccountID" class ="form-control" `></input>
            </div>
            <div class="form-group">
                <label asp-for="Creditor" class="control-label"></label>
                <input asp-for="Creditor" value="@ViewBag.Name" class="form-control" />
                <span asp-validation-for="Creditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountDue" class="control-label"></label>
                <input asp-for="AmountDue" class="form-control" />
                <span asp-validation-for="AmountDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DatePaid" class="control-label"></label>
                <input asp-for="DatePaid" class="form-control" />
                <span asp-validation-for="DatePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationNumber" class="control-label"></label>
                <input asp-for="ConfirmationNumber" class="form-control" />
                <span asp-validation-for="ConfirmationNumber" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
