@model MyChecklist.Models.Check

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Check</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursInvested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursInvested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CheckID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
