@model BankingSystem.Models.Transfer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransferID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
